
gke-learning-terraform-sa.json
gke-learning-owner-terraform-sa.json
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log
.terraform.lock.hcl